{% load version %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <script>
          if ( localStorage.theme === undefined) {
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                document.documentElement.setAttribute('data-bs-theme','dark')
            }
            else {
                document.documentElement.setAttribute('data-bs-theme','light')
            }
          } else {
            if (localStorage.theme == 'dark') {
                    document.documentElement.setAttribute('data-bs-theme','dark')
            }
            else {
                document.documentElement.setAttribute('data-bs-theme','light')
            }
          }    
        </script>
        <title>MDBListarr client for MDBList.com</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="alert alert-dark" role="alert">
            <h4 class="alert-heading">MDBListarr</h4>
            <p>Companion app for mdblist.com for Radarr and Sonarr integration.</p>
            <hr>
            <p class="mb-0">Version: {% version %}</p>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">MDBListarr</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Configure</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/log">Log</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>

        {% block body %}
        {% endblock %}
        <div class="container">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-dark shadow" id="btnSwitch">Toggle Dark Mode</button>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script>

            document.getElementById('btnSwitch').addEventListener('click',()=>{
                if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                    document.documentElement.setAttribute('data-bs-theme','light')
                    localStorage.theme = "light"
                }
                else {
                    document.documentElement.setAttribute('data-bs-theme','dark')
                    localStorage.theme = "dark"
                }
            })            
        </script>
    </body>
</html>
